.weekly-picks {
  margin: 50px 0 120px;
}

.weekly-picks__header {
  text-align: center;
  font-size: 34px;
  position: relative;
  color: rgb(var(--color-foreground));
  text-transform: capitalize;
}

.weekly-picks__product-ctn {
  display: flex;
  flex-direction: column;
}

.weekly-picks__item {
  width: 300px;
  height: 400px;
  margin: 10px auto;
}

.weekly-picks__item-links {
  text-decoration: none;
  position: relative;
}

.weekly-picks__item-img {
  display: grid;
  place-items: center;
  height: 300px;
}

.weekly-picks__item-img img {
  width: 70%;
}
.weekly-picks__product-title {
  text-align: center;
  color: rgb(var(--color-foreground));
}

.weekly-picks__product-price {
  font-size: 19px;
  text-align: center;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 768px) {
  .weekly-picks__product-ctn {
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
  }
  .weekly-picks__item-img {
    width: 100%;
  }
  .product-bubble {
    top: 40px;
    left: 125px;
  }
}
@media screen and (min-width: 1024) {
  .weekly-picks__product-ctn {
    width: 800px;
  }
}
